
.navbar{
  background-color: rgb(40 116 240);
  /* display: flex;
 justify-content: center; */
}

/* .Top {
  margin: 40px;
  display: flex;
  
  width: 400px;
 
} */
.bttn{
  background-color: aliceblue;
  color:rgb(40 116 240);
  outline:0px;
  margin-left: 10px;
  border: 0px;
  font-weight: 500;
}
span{
  margin-left: 400px;
  color: aliceblue;
  font-weight: 600;
  font-size: larger;
}

.search {
  padding: 6px;
  font-size: 20px;
  width: 600px;
  margin-left: 200px;
  outline: 0px;
  
}

.left{
  background-color: rgb(205, 217, 224);
}

.left-content{
  margin-left: 9px;
  margin-top: 5px;
}
.left-content p{
  color: rgb(85, 141, 214);
}
.right{
  background-color: rgb(205, 217, 224);
}


.login {
  background-color: rgb(40 116 240);
  max-width: 600px;
  max-height: 600px;
  display: grid;
 justify-content: center;
 padding: 20px;
 border-radius: 9px;
 margin-top: 5px;
}
.contain{
  background-color: rgb(224, 230, 240);
  display: grid;
 justify-content: center;
 height: 100vh;

}
label{
  color: aliceblue;
}
.login p{
  color: aliceblue;
}
.sign{
  color: rgb(201, 19, 19);
}
.btn-light{
  color: blue;
}

.cms:hover{
  backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        border:1px solid rgba(255, 255, 255, 0.5);
        border-right:1px solid rgba(255, 255, 255, 0.2);
        border-bottom:1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255,255,255,0.1);
       padding: 5px;
}
.price{
  text-decoration: line-through;
  color:red;

}
.fprice{
  color: rgb(2, 2, 20);
  font-weight: 1000;
  font-size: larger;
}